@font-face {
  font-family: "JetBrains Mono";
  src: url("https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/web/eot/JetBrainsMono-Regular.eot")
      format("embedded-opentype"),
    url("https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/web/woff2/JetBrainsMono-Regular.woff2")
      format("woff2"),
    url("https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/web/woff/JetBrainsMono-Regular.woff")
      format("woff"),
    url("https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/ttf/JetBrainsMono-Regular.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  -webkit-font-feature-settings: "liga" on, "calt" on;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "JetBrains Mono";
}

$grey: #2d2d2d;
$orangeText: #ffd400;
$orange: #eb703f;

body, #react {
  background-color: $orange;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header, footer {
    color: $grey;
    padding: 20px;
}

.splash-item {
  min-width: 320px;
  max-width: 1440px;
}

.supertext {
  color: white;
  text-align: center;
  font-style: oblique;
  font-weight: bolder;
}

.subtext {
  margin-top: 6px;
  text-align: center;
  color: $grey;
}

.orangesubtext {
  @extend .subtext;
  color: $orangeText;
}

@media screen and (min-width: 601px) {
  .supertext {
    font-size: 6vw;
  }
  .subtext, body {
    font-size: 2vw;
  }
}
@media screen and (max-width: 600px) {
  .supertext {
    font-size: 36px;
  }
  .subtext, body {
    font-size: 12px;
  }
}
